<div
  class="block sticky pointer-events-none bottom-10 bg-base-200 justify-center h-12 [mask-image:linear-gradient(transparent,#000000)]"
></div>

<div class="sticky bottom-0 bg-base-200 px-4 pb-5 pt-1 text-sm">
  <div class="flex flex-wrap items-center justify-center gap-x-4 gap-y-2">
    <a href="https://space.bilibili.com/483711690?spm_id_from=333.1007.0.0" target="_blank" rel="noopener noreferrer" class="link link-hover whitespace-nowrap">哔哩哔哩</a>
    <a href="https://github.com/ethanz-code" target="_blank" class="link link-hover whitespace-nowrap">GitHub</a>
    <a href="mailto:hi@itcox.cn" target="_blank" class="link link-hover whitespace-nowrap">邮箱</a>
    <a href="https://itcox.cn" target="_blank" class="link link-hover whitespace-nowrap">简历</a>
  </div>
</div>
