---
import { actionNavItems, primaryNavItems } from "../data/navigation";

const { sideBarActiveItemID } = Astro.props;
const activeClass = "bg-base-300";
---

<ul class="menu grow shrink menu-md overflow-y-auto">
    {
        primaryNavItems.map((item) => (
            <li>
                <a class:list={["py-3 text-base", item.id === sideBarActiveItemID && activeClass]} href={item.href}>
                    {item.label}
                </a>
            </li>
        ))
    }
    {
        actionNavItems.map((item) => (
            <li>
                <a
                    class:list={["py-3 text-base", item.id === sideBarActiveItemID && activeClass]}
                    href={item.href}
                    target={item.external ? "_blank" : undefined}
                    rel={item.external ? "noopener noreferrer" : undefined}
                    referrerpolicy={item.external ? "no-referrer-when-downgrade" : undefined}
                >
                    {item.label}
                </a>
            </li>
        ))
    }
</ul>
