---
import SideBarFooter from "./SideBarFooter.astro";
import { Image } from "astro:assets";
import SideBarMenu from "./SideBarMenu.astro";
import { profileImage } from "../assets/images";
const { sideBarActiveItemID } = Astro.props;
---

<div class="drawer-side z-40 lg:col-start-1 lg:row-start-1">
  <label for="my-drawer" class="drawer-overlay"></label>
  <aside class="flex h-auto min-h-full w-[18rem] max-w-[calc(100vw-2.5rem)] flex-col bg-base-200 px-4 pb-4 pt-4 text-base-content lg:sticky lg:top-0 lg:h-screen lg:w-[19rem] lg:max-w-none lg:border-r lg:border-base-300/60">
    <div class="mx-auto mb-6 mt-4 w-fit sm:mb-8 sm:mt-6">
      <a href="/">
        <div class="avatar transition ease-in-out hover:scale-[102%] block m-auto">
          <div class="w-28 sm:w-[8.5rem]">
            <Image class="mask mask-circle" format="webp" width={300} height={300} src={profileImage} alt="张永鑫头像" />
          </div>
        </div>
      </a>
    </div>
    <SideBarMenu sideBarActiveItemID={sideBarActiveItemID} />
    <SideBarFooter />
  </aside>
</div>
